[package]
name = "lsm_tree"
description = "A K.I.S.S. implementation of log-structured merge trees (LSM-trees/LSMTs)"
version = "0.0.1"
edition = "2021"
license = "MIT"
readme = "README.md"
exclude = [".gitignore", ".cargo/config", ".github/**"]
keywords = ["database", "lsmt", "lsm", "rocksdb", "leveldb"]
categories = ["data-structures", "database-implementations", "algorithms"]
repository = "https://github.com/marvin-j97/lsm-tree"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "lsm_tree"
path = "src/lib.rs"

[dependencies]
#bloom-filters = "0.1.2"
byteorder = "1.5.0"
chrono = "0.4.31"
crc32fast = "1.3.2"
log = "0.4.20"
lz4_flex = "0.11.1"
pathdiff = "0.2.1"
quick_cache = { version = "0.4.0", default-features = false }
rand = "0.8.5"
scc = "2.0.3"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.108"
std-semaphore = "0.1.0"

[dev-dependencies]
criterion = { version = "0.5.0", features = ["html_reports"] }
env_logger = "0.10.0"
rand = "0.8.5"
nanoid = "0.4.0"
tempfile = "3.6.0"
test-log = "0.2.12"

[[bench]]
name = "lsmt"
harness = false
