[package]
name = "fjall"
description = "LSM-based key-value storage engine"
license = "MIT OR Apache-2.0"
version = "2.0.2"
edition = "2021"
rust-version = "1.74.0"
readme = "README.md"
include = ["src/**/*", "LICENSE-APACHE", "LICENSE-MIT", "README.md"]
repository = "https://github.com/fjall-rs/fjall"
homepage = "https://github.com/fjall-rs/fjall"
keywords = ["database", "lsmt", "lsm", "rocksdb", "leveldb"]
categories = ["data-structures", "database-implementations", "algorithms"]

[lib]
name = "fjall"
path = "src/lib.rs"

[features]
default = ["bloom", "single_writer_tx", "lz4"]
lz4 = ["lsm-tree/lz4"]
miniz = ["lsm-tree/miniz"]
bloom = ["lsm-tree/bloom"]
single_writer_tx = []
__internal_whitebox = []

[dependencies]
byteorder = "1.5.0"
lsm-tree = { version = "2.0.2", default-features = false }
log = "0.4.21"
std-semaphore = "0.1.0"
tempfile = "3.10.1"
path-absolutize = "3.1.1"
dashmap = "6.0.1"
xxhash-rust = { version = "0.8.12", features = ["xxh3"] }

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
nanoid = "0.4.0"
test-log = "0.2.16"
rand = "0.8.5"

[package.metadata.cargo-all-features]
denylist = ["__internal_whitebox"]

[[bench]]
name = "lsmt"
harness = false
path = "benches/fjall.rs"
