[package]
name = "fjall"
description = "LSM-based key-value storage engine"
license = "MIT OR Apache-2.0"
version = "1.2.0"
edition = "2021"
rust-version = "1.74.0"
readme = "README.md"
include = ["src/**/*", "LICENSE-APACHE", "LICENSE-MIT", "README.md"]
repository = "https://github.com/fjall-rs/fjall"
homepage = "https://github.com/fjall-rs/fjall"
keywords = ["database", "lsmt", "lsm", "rocksdb", "leveldb"]
categories = ["data-structures", "database-implementations", "algorithms"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "fjall"
path = "src/lib.rs"

[features]
default = ["single_writer_tx"]
single_writer_tx = []
bloom = ["lsm-tree/bloom"]

[dependencies]
byteorder = "1.5.0"
crc32fast = "1.4.2"
lsm-tree = { version = "1.2.0", default-features = false }
log = "0.4.21"
std-semaphore = "0.1.0"
tempfile = "3.10.1"
fs_extra = "1.3.0"
path-absolutize = "3.1.1"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
nanoid = "0.4.0"
test-log = "0.2.16"
rand = "0.8.5"

[[bench]]
name = "lsmt"
harness = false
path = "benches/fjall.rs"
